html, body
{
	margin:0;
}

#overlay {
    display : none; /* Par défaut, on cache l'overlay */

    position: absolute;
    top: 0; left: 0;
    width: 100%; 
  	height: 530px;
    text-align: center; /* Pour centrer l'image que l'overlay contiendra */

    /* Ci-dessous, nous appliquons un background de couleur noire et d'opacité 0.6. Il s'agit d'une propriété CSS3. */
    background-color: rgba(250,250,250,0.8);
}

#overlay img {
    margin-top: 15px;
}



header, ul
{
	margin-top: 0;
}

/
{
	width:200px;
	height: auto;
}

.block-ligne
{
	display: flex;
	justify-content: space-around;
}

header
{	
	margin: 0;
	height: 200px;
	width: 100%;
	background: url("pictures/background-nav.jpg") no-repeat top ;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 93%, rgba(255,255,255,0) 100%);
	
	opacity: 0.4;

}

ul
{
	display:flex;
	list-style: none;
	float: right;
	padding-right: 20%;
	: bottom;	
}

li
{
	text-decoration: none;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 15px;
	list-style:none;
}

img
{
	cursor: pointer;
}